body {
    font-family: "Oswald", sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #efedf3;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%2300a3a6' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    /* 
    background-color: #d3d2d4;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%231d37b4' fill-opacity='0.19' fill-rule='evenodd'/%3E%3C/svg%3E");
  */
    }
   /* lineas rojas
   *,
*::before,
*::after {
  box-sizing: border-box;
}

 * {
    outline: 1px solid red;
  }
   */
 
  

  header {
    width: 100%;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 47%, rgba(0, 212, 255, 1) 100%);    
    color: rgb(255, 255, 255);
    padding: 0.25rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    position: sticky;
    top: 0;
    backdrop-filter: blur(3rem);
    z-index: 999;
  }
 header img {
  margin-left: 1rem;

  width: 6rem; 
  height: auto;
  
 }
  
  header a {
    color: white;
    text-decoration: none;
   
    
  }
  
  nav {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.5rem 1rem; 
  width: 100%;
  box-sizing: border-box;
  
  
 } 

  nav a {
    color: white;
    text-decoration: none;
    margin-left: 1.5rem;
    padding-left: 0px;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    
  
  }
  
  
  
  
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
   
    
  }

  ul li a:hover {
    color: #A3FF4F;
    border-bottom: 1px solid #A3FF4F;
    text-align: center;
    
  }

  .menu-responsive {
    width: 3.2rem;
    height: 3.2rem;
    stroke: rgb(255, 255, 255); 
   
    position: absolute;
    cursor: pointer;
   display: none;
   right: 0.8rem;
   
  }

 
  .hero {
    width: 100%;
    height: auto;
    min-height: 25rem; 
    
    font-family: "Oswald", sans-serif;  
    font-optical-sizing: auto;
    text-align: center;
    padding: 4rem 0;
    background: url('imagenes/hero3.webp') no-repeat center center/cover;
    color: #000000;
    
  }
  
  .hero h1 {
    
    font-size: 3.5rem;
  }
  
  .hero p {
    
    font-size: 2.1rem;
    margin-top: 1rem;
  }
  
  .section {
    padding: 3rem 2rem;
  }
  .banner {
    padding: 3rem 0;
    text-align: left;
    font-size: 1.8rem;
    background: linear-gradient(90deg, rgb(35, 150, 226) 0%, rgb(90, 213, 235) 47%, rgb(35, 142, 192) 100%);
    width: 100%;
    height: auto;
    margin-top: 3px;
  }

  .banner p {
    margin-left: 1rem;
    max-width: 500px;
  }

  .banner h2 {
    margin-left: 1rem;
  }


  .section h2 {
    color: #0a0000;
    text-align: center;
    font-size: 3rem;
  }
  
  .services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    margin-top: 2rem;
  }
  
  .service {
    background: rgb(12, 194, 226);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    view-timeline: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;
    animation-duration: 1s;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
  }

  .service:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
  }
/* boton para retroceder en la navbar */
  .btn-volver {
    display: inline-block;
    padding: 0.3rem;
    text-decoration: none;
  }
  
  .icono-volver {
    width: 2.8rem;
    height: 2.8rem;
    stroke: rgb(255, 255, 255); 
    transition: transform 0.5s ease, stroke 0.5s ease;
  }
  
  .btn-volver:hover .icono-volver {
    stroke: #3cff00; /* Cambia de color al pasar el mouse */
    transform: scale(1.1); /* Efecto de agrandamiento */
  }
  
  
  @keyframes show{
    from {
      opacity: 0;
      scale: 25%;
    }
    to {
      opacity: 1;
      scale: 100%;
    }
  }



  .service a img{
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: 0.5rem;
    
  }
  
  .service h3 {
    margin-top: 1rem;
    font-size: 1.5rem;
    
  }
  
  .service p {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: #777;
   
  }
  


  
  .final {
    display: flex;
    justify-content: space-between;
    background: #0A2540;
    color: white;
    padding: 2rem;
    
    font-size:1.2rem;
    flex-wrap: wrap;
    gap: 1rem;

  }
  
  .final ul {
    display: block;
    text-align: left;
    list-style: disc;
    
  }
  .final ul li {
    margin-bottom: 1rem;
  }
  
  .final a {
    color: white;
    text-decoration: none;
    margin-bottom: 1rem;
   
  }
  .contact {
    text-align: center;
   
  }
.final section{
  flex: 0 0 20%;
}


  .contact a {
    color: #A3FF4F;
    text-decoration: none;
  } 
  .nosotrosfinal {
    text-align: center;
    align-items: center;
    
    
  }
  


  footer {
    width: 100%;
    text-align: center;
    padding: 0;
    background: #1C1C1E;
    color: white;
  }

  /*caracteristicas o promociones de los diferentes servicios */


  .parent {
    display: grid;
   align-items: center;
   
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    
    padding: 1rem;
    margin: 1rem;
    margin-top: 2rem;
    
}
    
.div1 {
    grid-row: span 5 / span 5;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
        
      

  
  @media (max-width: 620px) {
    /*body{background: red;}*/
    
    nav ul{
      transform: translateX(-600px);
      display: block ;
      position: absolute;
      top: 100%;
      left: 0;
      background: #0A2540;
      height: auto;
      opacity: 0.9;
      padding: 1rem;
      transition: transform 0.5s ease-in-out;
      
    }
    nav ul.show{
      transform: translateX(0);
      top: 100%;
    }

    nav ul a{
      margin-bottom: 2rem;
    }

    .menu-responsive{
      display: block;
      
    }

    .final{
      flex-direction: column;

    
    }
  
    .final ul{
      margin-left: 2rem;
    }
  }

  @media(max-width: 380px){
    .services{
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

    }
  }