body {
    font-family: "Oswald", sans-serif; 
    margin: 0;
    padding: 0;
     
    background-color: #d3d2d4;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%231d37b4' fill-opacity='0.19' fill-rule='evenodd'/%3E%3C/svg%3E");
  }
   /* lineas rojas
   *,
*::before,
*::after {
  box-sizing: border-box;
}

 * {
    outline: 1px solid red;
  }
   */
 
  

  header {
    width: 100%;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 47%, rgba(0, 212, 255, 1) 100%);    
    color: rgb(255, 255, 255);
    padding: 0.25rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
  
  }
 header img {
  margin-left: 1rem;

  width: 7rem; 
  height: auto;
  
 }
  
  header a {
    color: white;
    text-decoration: none;
  }
  
  nav {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.5rem 1rem; 
  width: 100%;
  box-sizing: border-box;
  
 } 

  nav a {
    color: white;
    text-decoration: none;
    margin-left: 1.5rem;
    padding-left: 0px;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    
  }
  
  
  
  
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
   
    
  }

  ul li a:hover {
    color: #A3FF4F;
    border-bottom: 1px solid #A3FF4F;
    text-align: center;
    
  }

  .menu-responsive {
  
    position: absolute;
    cursor: pointer;
   
   right: 1.5rem;
    font-size: 3rem;
  }

 
  .hero {
    width: 100%;
    height: auto;
    min-height: 25rem; 
    
    font-family: "Oswald", sans-serif;  
    font-optical-sizing: auto;
    text-align: center;
    padding: 4rem 0;
    background: url('imagenes/hero2.webp') no-repeat center center/cover;
    color: #000000;
    
  }
  
  .hero h1 {
    
    font-size: 3.5rem;
  }
  
  .hero p {
    
    font-size: 2.1rem;
    margin-top: 1rem;
  }
  
  .section {
    padding: 3rem 2rem;
  }
  .banner {
    padding: 3rem 0;
    text-align: left;
    font-size: 1.8rem;
    background: linear-gradient(90deg, rgb(35, 150, 226) 0%, rgb(90, 213, 235) 47%, rgb(35, 142, 192) 100%);
    width: 100%;
    height: auto;
    margin-top: 3px;
  }

  .banner p {
    margin-left: 1rem;
    max-width: 500px;
  }

  .banner h2 {
    margin-left: 1rem;
  }


  .section h2 {
    color: #0a0000;
    text-align: center;
    font-size: 3rem;
  }
  
  .services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    margin-top: 2rem;
  }
  
  .service {
    background: rgb(136, 136, 136);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    
  }

  .service:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
  }
  
  .service img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .service h3 {
    margin-top: 1rem;
    font-size: 1.5rem;
    
  }
  
  .service p {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: #777;
   
  }


  .contact {
    background: #0A2540;
    color: white;
    padding: 2rem;
    text-align: center;
    font-size: 30px;
  }
  
  .contact a {
    color: #A3FF4F;
    text-decoration: none;
  }
  
  footer {
    width: 100%;
    text-align: center;
    padding: 0;
    background: #1C1C1E;
    color: white;
  }

  @media (max-width: 500px) {
    body{background: red;}
    
    nav ul{
      transform: translateX(-600px);
      display: block ;
      position: absolute;
      top: 0;
      right: 0;
      background: #0A2540;
      height: 100%;
      opacity: 0.9;
      padding: 1rem;
      transition: transform 0.5s ease-in-out;
      
    }
    nav ul.show{
      transform: translateX(-12rem);
    }

    nav ul a{
      margin-bottom: 2rem;

    
    }
  }